@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald&family=Quicksand:wght@600&family=Reenie+Beanie&display=swap');

body {
    margin: 20px;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: Oswald, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    body {
        margin: 0;
    }
}

/* header and footer */
/* header */
header {
    background-color: #333;
    color: #fff;
    height: 100px;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img a {
    height: 100px;
   
}
#logo-img {
    height: 100px;
}
nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inherit;
}
nav a {
    color: rgb(232, 247, 169);
    text-decoration: none;
}
nav a:hover {
    color: wheat;
    border: 1px solid;
    border-color: wheat;
}
nav li {
    font-size: 80%;
    padding-left: 20px;
    letter-spacing: 5px;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/* footer */

footer {
    background-color: #333;
    color: rgb(232, 247, 169);
    padding: 20px;
    text-align: center;
}

.footer-container {

}
.social-links {
    display: inline-block;
}
.social-links a {
    color: rgb(232, 247, 169);
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}
.social-links a:hover {
    color: wheat;
}

/* media queries */

@media only screen and (max-width: 767px) {

   /* header*/
    .header-container {
        flex-direction: column;
        align-items: center;
        height: 90%;
    }
    header {
        padding: 20px 20px 0px;
    }

    .logo {
        width: 80%;
        text-align: center;
    }
    #logo-img {
        width: 90%;
        height: 90%;
        padding: 0;
        margin: 0;
    }
    
    nav {
        width: 100%;
        padding-bottom: 0;
    }
    nav li {
        font-size: 60%;
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: 2px;
    }
}

/* Hero Section */

.hero-section {
    height: 500px;
    display: flex;
    align-items: center;
    background-image: url(/assets/images/hero-img-LT.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.hero-text {
    font-family: Oswald, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 600%;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: left;
    color: rgba(232, 247, 169, 0.6);
}

/* media queries */

@media only screen and (max-width: 767px) {
    .hero-section {
        height: 250px;
    }
}


/* About Section */

.about-section {
    display: flex;
    margin-top: 50px;
}

.about-section p {
    padding: 40px;
}
br {
    padding: 5px;
}  
.about-img {
    width: 50%;
}
  
.about-img img {
    width: 100%;
    border-radius: 50%;
}
  
.about-text {
    width: 50%;
    padding: 50px;
    text-align: justify;
}

.title {
    margin-bottom: 10px;
    padding-top: 50px;
    text-align: center;
}

/* media queries */

@media only screen and (max-width: 767px) {
    .about-section {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-img {
        width: 80%
    }
    .about-text {
        padding-top: 0;
        padding-bottom: 0;
        width: 80%;
    }
    .title {
        padding-top: 10;
    }
    .about-section p {
        padding: 0;
    }
}

/* Amenities Section */

#amenities-inside {
    background-color: wheat;
    margin-top: 50px;
}
#amenities-outside {
    background-color: wheat;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

#amenities-outside h3 {    
    padding-top: 50px;
    margin: 0 0 20px;
    text-align: center;
}

#inside {
    display: flex;
    justify-content: space-evenly;
}
#outside {
    display: flex;
    justify-content: space-evenly;
}
  
.amenities-div {
    width: calc(24% - 15px);
    display: inline-grid; 
} 
.amenities-div h4 {
    text-align: center;
    margin-top: 0;
}
.amenities-div p {
    margin: 0;
    text-align: center;
}
.amenities-div img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.outside-section div {
    text-align: center;
}

/* media queries */
@media only screen and (max-width: 767px) {

.amenities-div {
        width: calc(90% - 20px);
    }
    #inside {
        flex-wrap: wrap;
    }
    #outside {
        flex-wrap: wrap;
    }
    .amenities-div h4 {
        padding-top: 0;
    }
}

/* Contact section */

.contact-section {
    background-color: rgb(232, 247, 169);
    padding: 30px;
    margin-bottom: 50px;
}
.contact-section div {
    text-align: end;
}

#form-div {
    display: flex;
    justify-content: center;
    padding-right: 70px;
}

label {
    padding: 10px 10px 10px 0;
    display: inline-block;
    margin-bottom: 5px;
}
input[type=text], input[type=email], textarea {
    border: none;
    height: 25px;
    width: 500px;
    font-family: inherit;
    resize: vertical;

}
textarea {
    align-self: flex-end;
}
#message-field {
    height: 100px;
    padding-top: 0;
    padding-bottom: 10px;
      
}
#button {
    background-color: #5c9b6e;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    font-family: inherit;
    border: none;
    color: white;
    margin-top: 10px;
}
#button:hover {
    background-color: wheat;
    color: #5c9b6e;
    border: 1px solid #5c9b6e;
    cursor: pointer;
}

/* media queries */
@media only screen and (max-width: 767px) {
    input[type=text], input[type=email], textarea {
        width: 300px;
    }
    #form-div {
        padding-right: 0px;
    }
    .contact-section div {
        
    }
    #button {
        margin-top: 10px;
        text-align: center;
    }
}


/* Tinies page */

.tinies-div {
    width: calc(24% - 15px);
    text-align: center;
    display: inline-grid;   
}
.tinies-div img {
    width: 100%;
    margin-bottom: 20px;   
}
.gallery-div {
    column-count: 3;
}

@media only screen and (max-width: 767px) {
    .gallery-div {
        width: 100%;
        text-align: center;
        display: inline-grid;
    } 
}
  

  