@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald&family=Quicksand:wght@600&family=Reenie+Beanie&display=swap');

body {
    margin: 0 20px;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: Oswald, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

/* header and footer */
/* header */
header {
    background-color: #333;
    color: #fff;
    height: 100px;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img a {
    height: 100px;
   
}
#logo-img {
    height: 100px;
}
nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inherit;
}
nav a {
    color: rgb(232, 247, 169);
    text-decoration: none;
}
nav a:hover {
    color: wheat;
    border: 1px solid;
    border-color: wheat;
}
nav li {
    font-size: 120%;
    padding-left: 20px;
    letter-spacing: 6px;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* footer */

footer {
    background-color: #333;
    color: rgb(232, 247, 169);
    padding: 20px;
    text-align: center;
}

.footer-container {

}
.social-links {
    display: inline-block;
}
.social-links a {
    color: rgb(232, 247, 169);
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}
.social-links a:hover {
    color: wheat;
}

/* media queries */

@media only screen and (max-width: 767px) {

   /* header*/
    .header-container {
        flex-direction: column;
        align-items: center;
      }

    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    nav {
        width: 100%;
    }
    nav li {
        font-size: 110%;
        padding-left: 20px;
        letter-spacing: 2px;
    }
}

/* Hero Section */

.hero-section {
    height: 500px;
    display: flex;
    align-items: center;
    background-image: url(/assets/images/hero-img-LT.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.hero-text {
    font-family: Oswald, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 600%;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: left;
    color: rgba(232, 247, 169, 0.6);
}

/* media queries */

@media only screen and (max-width: 767px) {
    .hero-text {
        font-size: 350%;
        text-align: center;
    }
}

/* About Section */

.about-section {
    display: flex;
    margin-top: 50px;
}

.about-section p {
    padding: 40px;
}
br {
    padding: 5px;
}  
.about-img {
    width: 50%;
}
  
.about-img img {
    width: 100%;
    border-radius: 50%;
}
  
.about-text {
    width: 50%;
    padding: 20px;
    text-align: justify;
}

.about-text {
    padding: 50px;
}

/* Amenities Section */

#amenities-inside {
    background-color: wheat;
}
#amenities-outside {
    background-color: wheat;
}

.title {
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 50px;
    text-align: center;
}

#amenities-outside h3 {    
    padding-top: 50px;
    margin: 0 0 50px;
    text-align: center;
}
  
.amenities-div {
    width: calc(24% - 15px);
    display: inline-grid;
} 
.amenities-div h4 {
    text-align: center;
}
.amenities-div p {
    margin: 0;
    text-align: center;
}
.amenities-div img {
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .amenities-div {
        width: 100%;
        text-align: center;
        display: inline-grid;
    } 
}

/* Tinies Section */

.tinies-div {
    width: calc(24% - 15px);
    text-align: center;
    display: inline-grid;   
}
.tinies-div img {
    width: 100%;
    margin-bottom: 20px;   
}
.gallery-div {
    column-count: 3;
}

@media only screen and (max-width: 767px) {
    .gallery-div {
        width: 100%;
        text-align: center;
        display: inline-grid;
    } 
}
  

  